@charset "UTF-8";
/* CSS Document */

html{
	/*min-height:100%;	
	height:100%;*/
}

body{
	/*min-height:100%;
	height:100%;
	background:#f0f0f0;*/
	background:#d8d8d8;
	overflow:auto;
}


a:link,
a:visited,
a.active{
	text-decoration:none;
	color:#636364;
}


a:hover{
	color:black;	
}

.tiffanyblue
{
	color:#428bca;	
}


.current-page{
	color:#fcfcfc;	
	border-width:3px;
	border-bottom-style:solid;	
}

.main .container .content .newsentry .red{
	color:#c1232a;	
}

.main .container .content .newsentry .tip{
	font-style:italic;
}

.main .container .content #prevprop h1{
	text-align:center;
	color:#252525;	
	text-transform:uppercase;
	font-size:1.5em;
	letter-spacing:.4em;
	margin:0 0 .5em 0;
	font-weight:800;
}


.header{
	height:	85px;
	
	display:block;
	
	background:#0abab5;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:999;
	border-bottom:1px solid #888888;
}

.header .col-lg-1 p,
.header .col-lg-2 p,
.header .col-lg-3 p,
.header .col-lg-4 p,
.header .col-lg-5 p,
.header .col-lg-6 p,
.header .col-lg-7 p,
.header .col-lg-8 p,
.header .col-lg-9 p,
.header .col-lg-10 p,
.header .col-lg-11 p,
.header .col-lg-12 p{
	float:right;
}

.header .col-lg-1 img,
.header .col-lg-2 img,
.header .col-lg-3 img,
.header .col-lg-4 img,
.header .col-lg-5 img,
.header .col-lg-6 img,
.header .col-lg-7 img,
.header .col-lg-8 img,
.header .col-lg-9 img,
.header .col-lg-10 img,
.header .col-lg-11 img,
.header .col-lg-12 img{
	float:right;
}

.header #left h1{
	font: 48px "Hipster","AlexBrush","newschoolbook","schoolbookreg";
	/*font: 3.4em "Hipster","AlexBrush","newschoolbook","schoolbookreg";*
	letter-spacing:4px;
	/*text-transform:uppercase;*/
	float:right;
	color:#252525;
	margin: 0;
	/*margin-top:.2em;*/
	margin-top:10px;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
	font-weight:bold;
	line-height: 27px;
	background-color:transparent;
	z-index:999;
}

.header #left p{
	font: 17px "newschoolbook","schoolbookreg";
	/*font: 1.2em "newschoolbook","schoolbookreg";*/
	letter-spacing:0px;
	text-transform:uppercase;
	float:right;
	color:white;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
	margin:6px 4px 0px 0px;
	background-color:transparent;
	z-index:0;
}


.header  #left ul{
	list-style: none outside none;	
	margin-top:20px;
	margin-bottom:0px;
	display:inline-block;
	float:left;
	padding:0px;
	background-color:transparent;
}

.header #left li{
		
}

.header a:link
{
	text-decoration:none;
	color:inherit;	
}

.header #right a
{
	
   	color:black; 
	font: 14px "montserratreg""Helvetica Neue";
	font: 1.35em "montserratreg""Helvetica Neue";
	font-weight:900;
	letter-spacing:2px;
	letter-spacing:.15em;
	transition: all 0.2s ease-in-out 0s;
}

.header #right a:hover
{
		
	
	border-color:#fcfcfc;
	border-width:3px;
	border-bottom-style:solid;
}


.header #right ul{
	list-style: none outside none;	
	margin:35px 0 0 0;
	display:inline-block;
	float:right;
	width:100%;
}

.header #right li{
	display:inline-block;
	margin-right:5%;
	float:right;
	
}

.main{
	min-height:100%;
	height:100%;
	text-align:center;
	color:#636364;	
	padding-top:85px;
	
}




.main img{
	border-radius: 4px 4px 4px 4px;	
}

.main .container .content{
	overflow:auto;
	padding:2em 2em 2em 2em;	
	text-align:center;
}

.main .container .content .profile p{
	text-align:left;	
	font:1.3em "Helvetica Neue","Raleway", "Chunk","Junction";
	line-height:1.em;
	color:#363636;
	letter-spacing:.1em;
	font-weight: 500;
}

.main .container .content .profile .social{
	width:100%;
	margin-bottom:.4em;
	text-align:left;
	
}


.main .container .content .profile .socialfb{
	width:32px;
	height:32px;
	background:url(../img/Facebook.png);
	display:inline-block;	
	text-align:left;
	transition: all 0.2s ease-in-out 0s;
}

.main .container .content .profile .socialfb:hover{
	width:32px;
	height:32px;
	background:url(../img/Facebook_hover.png);
	display:inline-block;
	text-align:left;
	transition: all 0.2s ease-in-out 0s;
}

.main .container .content .profile .socialtw{
	width:32px;
	height:32px;
	background:url(../img/Twitter.png);
	display:inline-block;	
	text-align:left;
	transition: all 0.2s ease-in-out 0s;
}

.main .container .content .profile .socialtw:hover{
	width:32px;
	height:32px;
	background:url(../img/Twitter_hover.png);
	display:inline-block;
	text-align:left;
	transition: all 0.2s ease-in-out 0s;
}

.main .container .content .profile .socialin{
	width:32px;
	height:32px;
	background:url(../img/LinkedIn.png);
	display:inline-block;	
	text-align:left;
	transition: all 0.2s ease-in-out 0s;
}

.main .container .content .profile .socialin:hover{
	width:32px;
	height:32px;
	background:url(../img/LinkedIn_hover.png);
	display:inline-block;
	text-align:left;
	transition: all 0.2s ease-in-out 0s;
}

.main .container .content p{
	text-align:left;	
	font-weight: 300;
	font-size:1.2em;
	line-height:1.5em;
}


.main .container .content h1,
.main .container .content h2,
.main .container .content h3,
.main .container .content h4,
.main .container .content h5,
.main .container .content h6{
	text-align:left;	
}


.main .container .content .newsentry{
		
	margin-bottom:20px;
	background-color:white; 
	padding:20px; 
	border-radius:5px 5px 5px 5px; 
	-moz-box-shadow:   inset 0 0 3px rgba(0, 0, 0, 0.35);
 	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);
}

.main .container .content .newsentry p{
	font-weight:200;
	font-size:1.2em;
	line-height:1.5em;	
}


.main .container .content .newsentry img{
	float:right;
	margin:0px 0px 15px 15px;	
	
	border-radius: 4px 4px 4px 4px;
	-moz-box-shadow:    0 2px 13px rgba(0, 0, 0, 0.35);
 	-webkit-box-shadow: 0 2px 13px rgba(0, 0, 0, 0.35);
	box-shadow: 0 2px 13px rgba(0, 0, 0, 0.35);
	max-width:100%;
}

.main .container .content .newsentry h2{
	font-weight:500;	
	margin-bottom:0px;
	color:#464646;
	font-size: 2.75em;
	letter-spacing: .20em;
	text-transform:uppercase;
	
}
.main .container .content .newsentry h3{
	text-transform:uppercase;
	letter-spaceing:0.1em;
	font-size:1.5em;
	color:#464646;
	
}

.main .container .content .newsentry h4{
	padding-bottom:3px;
	margin-top:5px;	
	color:#636363;	
	font-weight:300;
	border-bottom:2px solid	#3acbc7;
}

.main .container .content .sidebar{
	background-color:white;
	padding:10px;
	border-radius:5px 5px 5px 5px; 
	-moz-box-shadow:    inset 0 0 3px rgba(0, 0, 0, 0.35);
 	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);
}



.main .container .content .sidebar h3{
	font-size:18px;
	border-bottom:2px solid	#3acbc7;	
	text-indent:13px;
	text-transform:uppercase;
}

.main .container .content .sidebar ul{
	margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}


.main .container .content .sidebar li:before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.main .container .content .sidebar li:before:hover { 
    content: "";
    border-color: transparent #3F6;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.main .container .content .sidebar li p{
	line-height:1em;
	font-weight:200;
	font-size: 1em;
	text-transform:uppercase;
	text-align:left;
}


.main .container .content .listing{
	padding:1em 1em 1em 1em;
	background:white;
	margin-bottom:30px;
	border-radius:7px;	
	-moz-box-shadow:    inset 0 0 3px rgba(0, 0, 0, 0.35);	
 	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);	
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);	
}

.main .container .content .listing hr{
	margin:1em 0 0.7em 0;
	border-color:#e1e1e1;
}

.main .container .content .listing .infobtn{
	background-color:#3acbc7;
	border-color:#3acbc7;
	color:black;
}

.main .container .content .listing .infobtn:hover,
.main .container .content .listing .infobtn:focus,
.main .container .content .listing .infobtn:active{
    background-color: #6adbd8;
    border-color: #6adbd8;
	color:#333;
}

.main .container .content .listing .info{
	padding:0 12px 0 12px;	
}

.main .container .content .listing p{
	margin:0px;
}

.main .container .content .listing h6{
	font-size:18px;
}
.main .container .content .listing h5{	
	font-size:16px;
	font-weight:200;
}

.main .container .content .listing img{
	width:300px;
	height:200px;		
}

.featuredprops{
	border-top:1px solid #888888;
	height:auto;
	/*background-color:rgba(242,108,79,.8);*/
	/*background-color:#888888;*/
	/*background-color:#636364;*/
	background-color:#0abab5;
	padding-bottom:20px;			
	
}

.main .container .content .contactinfo{
	
}

.main .container .content .contactinfo h3{
	padding-left:1.25em;
	margin-top:0;
}

.main .container .content .contactinfo #map_canvas{
	position:relative; 
    z-index:10; 
    height:350px; 
	width:450px;
    overflow:hidden;
	
	margin:2em 0 1em 0;	
	-moz-box-shadow:   inset 0 0 3px rgba(0, 0, 0, 0.35);
 	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);
	border-radius:6px;
}


.main .container .content .contactinfo #map_canvas h3{
	padding-left:0;
	padding-right:1em;
	margin-top:0;
}

.main .container .content .contactinfo #map_canvas hr{
	margin:5px 0;
	
}

.main .container .content .contactinfo .contactbtn{
	background-color:#3acbc7;
	border-color:#3acbc7;
	color:white;
}

.main .container .content .contactinfo .contactbtn:hover,
.main .container .content .contactinfo .contactbtn:focus,
.main .container .content .contactinfo .contactbtn:active{
    background-color: #6adbd8;
    border-color: #6adbd8;
	color:white;
}


.main .container .content .contactinfo span{
	margin-bottom:.65em;
}

.main .container .content .contactinfo label{
	display:block;
	text-align:left;
	font-weight:300;
	margin-bottom:0px;
	font-size:16px;;
}

.main .container .content .contactinfo input{
	width:100%;
}

.main .container .content .contactinfo textarea{
	width:100%;
	height:15em;
}


.main .container .content .single-list{
	padding:1em 2em 2em;
	background-color:white;
	border-radius:5px 5px 5px 5px; 
	-moz-box-shadow:   inset 0 0 3px rgba(0, 0, 0, 0.35);
 	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.35);
}

.main .container .content .single-list .remarks p{
	text-align:left;
	line-height:1.3em;
	margin-bottom:.20em;		
}

.main .container .content .single-list .remarks strong{
	font-weight:500;	
}

.main .container .content .single-list .carousel-indicators li{
	border-color:#636363;
}

.main .container .content .single-list .carousel-indicators .active{
	background-color:#898989;	
}

.main .container .content .single-list .carousel-indicators{
	bottom:-12px;	
}


.main .container .content .single-list h1{
	font-size:24px;	
}
.main .container .content .single-list .left h1{
	text-align:left;	
	font-weight:200;
}

.main .container .content .single-list .right h1{
	text-align:right;	
	font-weight:500;
}

.main .container .content .single-list #gallery{
	
	border-bottom:1px solid #eeeeee;
	margin-bottom:1em;	
}

.main .container .content .single-list p{
	font-weight: 200;
	font-size: 1.2em;
}

.main .container .content .single-list ul{
	
	list-style:none outside none;
}

.main .container .content .single-list .icon-prev,
.main .container .content .single-list .icon-next{
	margin-top:-22px;	
}

.main .container .content .single-list .icon-next{
	margin-left:-14px
}

.main .container .content .single-list .icon-prev{
	margin-left:-16px
}

.main .container .content .single-list #thumbs img{
	width:250px;
	height:187px;
	cursor:pointer;
}

.main .container .content .profile img{
	max-width:100%;
}

.main .container .content .single-list .carousel-control{
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	height: 40px;
	width: 40px;
	border: 3px solid black;
	background: #ebebeb;
	top: 78px;	
	color:black;
	
}

.main .container .content .single-list .carousel-control.right{
	right:35px;	
}

.main .container .content .single-list .carousel-control.left{
	left:35px;	
}


.featuredprops ul{
	list-style:none outside none;
	
}

.featuredprops .modal-dialog{
	width:1000px;	
	
}

.featuredprops .carousel-control{
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;	
	height:40px;
	width:40px;
	border: 3px solid black;
	background:#428bca;
	top:30%
}

.featuredprops .carousel-control .icon-prev,
.featuredprops .carousel-control .icon-next{
	margin-top:-22px;	
}

.featuredprops .carousel-control .icon-next{
	margin-left:-14px;
}

.featuredprops .carousel-control .icon-prev{
	margin-left:-16px;
}

.featuredprops .carousel-indicators li{
	border-color:#636363;
}

.featuredprops .carousel-indicators .active{
	background-color:#898989;	
}

.featuredprops .carousel-indicators{
	top:110px;	
}

.featuredprops img{
	border-radius: 4px 4px 4px 4px;
	-moz-box-shadow:    0 5px 13px rgba(0, 0, 0, 0.35);
 	-webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.35);
	box-shadow: 0 5px 13px rgba(0, 0, 0, 0.35);
	
	filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.featuredprops .content{
	padding:0em 2em 2em 2em;	
}


.featuredprops .modal img{
	filter: none;
    -webkit-filter: grayscale(0);
}

.featuredprops .modal p{
	margin-top:20px;	
	text-align:left;
}


.featuredprops .modal hr
{
	border-color:#b7b7b7;	
}

.featuredprops .modal h5
{
	font-weight:600;
}

.featuredprops .col-lg-4{
	
	text-align:center;	
}


.featuredprops .col-lg-4 .btn{
	margin-top:5px;
}

.featuredprops .col-lg-4 .btn a{
	
	
	color:white;
	text-decoration:none;
}



.featuredprops .col-lg-4 .btn-default{
	
	
	color:black;

	background:#ebebeb;
	border-color:#black;
	width:132px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}

.featuredprops .col-lg-4 .requestbtn{
	width:	230px;
}

#thumbs1 img,
#thumbs2 img,
#thumbs3 img{
	width:150px;
	margin:3px 1px 1px 1px;	
}

#thumbs1 img, 
#thumbs2 img, 
#thumbs3 img, 
#largeImage1, 
#largeImage2,
#largeImage3{ 
	cursor: pointer; 
}

.featuredprops .col-lg-4 .btn-default:hover,
.featuredprops .col-lg-4 .btn-default:focus,
.featuredprops .col-lg-4 .btn-default:active,
.featuredprops .col-lg-4 .btn-default.active{
    background-color: #afafb0;
    border-color: #black;
	color:white;
	
}
.listingrq a:link{
	
	color:black;
}

.listingrq .btn-default{
	background-color: #ebebeb;
}

.listingrq .btn-default:hover,
.listingrq .btn-default:focus,
.listingrq .btn-default:active,
.listingrq .btn-default.active{
    background-color: #afafb0;
    border-color: #black;
	color:white;
}

.featuredprops img:hover{
	filter: none;
    -webkit-filter: grayscale(0);
}

.featuredprops a:hover{
	filter: none;
    -webkit-filter: grayscale(0);
}

.featuredprops h1{
	
	font-size:22px;
	font-size:1.3em;
	text-align:center;
	letter-spacing: 4px;
	margin-bottom:20px;	
	color:black;
	font-weight:900;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.40); 
}

.footright{
	height:210px;
	left:0;
	right:0;
}


.footer{
	border-top: 1px solid #888888;
	/*color: #ffb890;*/
	color:black;
	height:180px; /*remove hardcode height*/
	font-weight:200;
	-moz-box-shadow:    0 5px 8px -5px rgba(0, 0, 0, 0.35) inset;
 	-webkit-box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.35) inset;
	box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.35) inset;
	background-color:whitesmoke;	
	font-size:1.3em;
}

.footer label{
	letter-spacing: 1px;	
	font-weight:200;
	color:black;
}

.footer input{
	background-color: transparent; 
	border-style: solid; 
	border-width: 0px 0px 1px 0px; 
	border-color: black;
}

.footer .subbtn{
	background-color:#ebebeb;
	border:1px solid #454545;
	color:black;
	width:78px;
	margin:10px auto 0 auto;
	display:block;
}

.footer .subbtn:hover,
.footer .subbtn:focus{
	color:#252525;
	background-color:#c2c2c2;
}


.footer .container{
	height:100%;	
}

.footer a:link,
.footer a:visited ,
.footer a:hover,
.footer a:active{
	color:inherit;
	text-decoration:none;		
}

.footer .container .col-lg-4
{
	border-right: 1px solid #888888;
	
	height:100%;
}

.footer .container .col-lg-4 .content
{
	padding:1em;
}

.footer p{
	letter-spacing:1px;	
}

.footer h4{
	font-weight:200;
	letter-spacing:0px;
	font-size:1.15em;	
	color:black;
}

.copyright
{
	width:100%; 
	height:30px; 
	background:#636364; 
	text-align:center; 
	color:white;
	line-height:28px;
	font-weight:100;
	font-size:10px;
	letter-spacing:3px;	
	
}

.copyright  span
{

	color:#d7d7d7;
	width:auto;
	line-height:30px;
	margin-bottom:0px;
	display:inline-block; 
	vertical-align:middle;
}

/************************back to top button************/
a.white:hover,
a.white:link,
a.white:visited{
	color:white;	
}

.go-top {
	position: fixed;
	bottom: 3em;
	right: 3em;
	text-decoration: none;
	color: white;
	opacity:.75;
	font-size: 12px;
	padding: 1em;
	display: none;
	
	/*
	border-radius:999px;
	behavior: url(PIE.htc);
	height:45px;
	width:45px;
	text-align:center;*/
	text-indent: -9999px;
	height:38px;
	width:38px;
	background:url(../img/top-button.png);
}

.go-top:hover {
	opacity:1;
}



/*****************FONTS***********************/

@font-face {
	font-family: montserratreg;
	src: local('fonts/Montserrat-Regular.ttf'),url('fonts/Montserrat-Regular.ttf'),url('../fonts/Montserrat-Regular.ttf');
	src: url('fonts/Montserrat-Regular.ttf'),

}

@font-face {
	font-family: monserratbold;
	src: local('fonts/Montserrat-Bold.ttf'),url('fonts/Montserrat-Bold.ttf'),url('../fonts/Montserrat-Bold.ttf');
	src: url('fonts/Montserrat-Bold.ttf'),

}

@font-face {
	font-family: newschoolbookbold;
	src: local('fonts/New_Century_Schoolbook_Bold.ttf'),url('fonts/New_Century_Schoolbook_Bold.ttf'),url('../fonts/New_Century_Schoolbook_Bold.ttf');
	src: url('fonts/New_Century_Schoolbook_Bold.ttf'),
}

@font-face {
	font-family: newschoolbook;
	src: local('fonts/New_Century_Schoolbook_Roman.ttf'),url('fonts/New_Century_Schoolbook_Roman.ttf'),url('../fonts/New_Century_Schoolbook_Roman.ttf');
	src: url('fonts/New_Century_Schoolbook_Roman.ttf'),
}

@font-face {
	font-family: schoolbookreg;
	src: local('fonts/new_century_schoolbook_reg.ttf'),url('fonts/new_century_schoolbook_reg.ttf'),url('../fonts/new_century_schoolbook_reg.ttf');
	src: url('fonts/new_century_schoolbook_reg.ttf'),

}

@font-face {
	font-family: copperplate;
	src: local('fonts/copperplate_becker_bold.ttf'),url('fonts/copperplate_becker_bold.ttf'),url('../fonts/copperplate_becker_bold.ttf');
}

@font-face {
	font-family: ChaparralPro;
	src: local("fonts/ChaparralPro-Regular.otf") format("opentype"),url("fonts/ChaparralPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: AlexBrush;
	src: local('fonts/alexbrushregularotf.ttf'),url('fonts/alexbrushregularotf.ttf'),url('../fonts/alexbrushregularotf.ttf');
	src: url('fonts/alexbrushregularotf.ttf'),
}

@font-face {
	font-family: Hipster;
	src: local('fonts/hipster_script_pro.ttf'),url('fonts/hipster_script_pro.ttf'),url('../fonts/hipster_script_pro.ttf');
	src: url('fonts/hipster_script_pro.ttf'),
}



@font-face {
	font-family: Raleway;
	src: local('fonts/Raleway_Thin.ttf'),url('fonts/Raleway_Thin.ttf'),url('../fonts/Raleway_Thin.ttf');
	src: url('fonts/Raleway_Thin.ttf'),
}


@font-face {
	font-family: Junction;
	src: local('fonts/Junction-webfont.ttf'),url('fonts/Junction-webfont.ttf'),url('../fonts/Junction-webfont.ttf');
	src: url('fonts/Junction-webfont.ttf'),
}


@font-face {
	font-family: Chunk;
	src: local('fonts/Chunkfive-webfont.ttf'),url('fonts/Chunkfive-webfont.ttf'),url('../fonts/Chunkfive-webfont.ttf');
	src: url('fonts/Chunkfive-webfont.ttf'),
}

@font-face {
	font-family: League;
	src: local('fonts/leaguegothicregular.ttf'),url('fonts/leaguegothicregular.ttf'),url('../fonts/leaguegothicregular.ttf');
	src: url('fonts/leaguegothicregular.ttf'),
}
